<a href="https://colab.research.google.com/github/sirrykard/Hamoye_Data_Internship/blob/main/Hamoye_Stage_A_Graded_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas and read csv file
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#read data
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
food_data = pd.read_csv(url, encoding ='latin-1')
food_data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
food_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [ ]:
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
#Question 11
grp_item = food_data.groupby('Item')
print(grp_item)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7efe99ce2990>

In [ ]:
#Question 12
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
#Question 13
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
food_data.groupby('Y2016')['Y2016'].count()

Y2016
-3225.0      1
-2051.0      1
-1499.0      1
-1324.0      1
-1088.0      1
            ..
 94447.0     1
 103603.0    1
 116483.0    1
 119330.0    1
 185960.0    1
Name: Y2016, Length: 4520, dtype: int64

In [ ]:
#Question 14

In [ ]:
#Question 15#
h =food_data.groupby('Element')['Element'].count()
h

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [ ]:
food_data.groupby('Element')['Y2014'].count()

Element
Domestic supply quantity                  5244
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4965
Feed                                      1216
Food                                      4896
Food supply (kcal/capita/day)             4947
Food supply quantity (kg/capita/yr)       4860
Import Quantity                           4919
Losses                                    2009
Other uses (non-food)                     1662
Processing                                1987
Production                                3830
Protein supply quantity (g/capita/day)    4963
Residuals                                 4604
Seed                                       762
Stock Variation                           4230
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2014, dtype: int64

In [ ]:
food_data.groupby('Element')['Y2015'].count()

Element
Domestic supply quantity                  5245
Export Quantity                           3704
Fat supply quantity (g/capita/day)        4974
Feed                                      1177
Food                                      4901
Food supply (kcal/capita/day)             4955
Food supply quantity (kg/capita/yr)       4865
Import Quantity                           4911
Losses                                    2009
Other uses (non-food)                     1667
Processing                                1995
Production                                3828
Protein supply quantity (g/capita/day)    4971
Residuals                                 4605
Seed                                       759
Stock Variation                           4229
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2015, dtype: int64

In [ ]:
food_data.groupby('Element')['Y2016'].count()

Element
Domestic supply quantity                  5250
Export Quantity                           3653
Fat supply quantity (g/capita/day)        4980
Feed                                      1215
Food                                      4910
Food supply (kcal/capita/day)             4963
Food supply quantity (kg/capita/yr)       4874
Import Quantity                           4908
Losses                                    2009
Other uses (non-food)                     1634
Processing                                1996
Production                                3838
Protein supply quantity (g/capita/day)    4978
Residuals                                 4610
Seed                                       759
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2016, dtype: int64

In [ ]:
food_data.groupby('Element')['Y2017'].count()

Element
Domestic supply quantity                  5258
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4982
Feed                                      1213
Food                                      4912
Food supply (kcal/capita/day)             4965
Food supply quantity (kg/capita/yr)       4876
Import Quantity                           4929
Losses                                    2009
Other uses (non-food)                     1619
Processing                                1998
Production                                3829
Protein supply quantity (g/capita/day)    4980
Residuals                                 4618
Seed                                       758
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2017, dtype: int64

In [ ]:
#question 16

In [ ]:
#question 17

In [ ]:
#question 18
new_df = food_data['Y2018',‘Element’]
new_df

SyntaxError: ignored

In [ ]:
#question 19
food_data.groupby('Element')['Y2018'].count()

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

In [ ]:
#question 20
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
uni = food_data['Area'].unique()
len(uni)

49